@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Noto+Serif:ital@0;1&display=swap");
:root {
  --font-code: "Fira Code", monospace;
  --font-description: "Noto Serif", serif;
  --border-radius: 15px;
  --color-shadow: #292929;
  --background-color: #ffffff;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

div {
  box-sizing: border-box;
}
