@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Noto+Serif:ital@0;1&display=swap");

:root {
  --font-code: "Fira Code", monospace;
  --font-description: "Noto Serif", serif;
  --border-radius: 15px;

  --color-shadow: #2423239f;
  --color-app-shadow: #ccc9c9;
  --color-accent-dark: #5f646a;
  --color-accent-middle: #858585;
  --color-accent-light: #b9bdb8;

  --color-text: #111111;
  --color-text-contrast: #e6e4e4;

  --background-color: #ffffff;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

.App {
  font-family: sans-serif;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
  width: min(800px, 1000px);
  box-shadow: 5px 5px 10px var(--color-app-shadow);
}

div {
  box-sizing: border-box;
}
